body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  cursor: pointer;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  text-align: center;
  color: #333;
  margin-top: 10px;
}

/* Echarts图表容器样式 */
#echartsChart {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}